#aranygaluska {
    width: 60%;
}

#kecskesajtos-spenótos-derelye {
    width: 30%;
}

#homepage {
    width: 50%;
}

body {
    padding: 13px;
}

.bettername {
    width: 10%;
    /* Initial width */
    transition: transform 0.8s ease-in-out;
    transform-origin: 0 0;
}

.bettername:hover {
    transform: scale(3);
    /* Enlarge the image on hover */

}