a:link{
    color:aqua
}
a:visited{
    color:brown
}
a:hover{
    color:blue
}
a:active{
    color:rgb(243, 7, 152)
}
button:hover{
    background-color:yellowgreen
}
button:active{
    background-color:tomato
}

/*li:nth-child(8){
    background-color:aqua
}*/

/*li:nth-child(even){
    background-color: yellow;
}*/

/*li:nth-child(odd){
    background-color:lightsalmon
}*/

li:nth-child(5n+2){
    background-color:rgb(245, 12, 167)
}