body{
    margin: 200px
}

#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: aquamarine;
    padding: 20px;
    margin-left: 250px;
    margin-bottom: 30px;
}
#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: salmon;
    padding: 50px;
    margin-left: 50%;
}